.navbar {
    position: sticky;
    top: 15px;

    width: 95%;
    margin: auto;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 20px;

    padding: 15px 30px;

    z-index: 1000;
}
.logo-text {
    display: none;
}